#header {
    display: flex;
    justify-content: center;
}

.startup {
font-family: 'Monteserrat', sans-serif;
background-color: gainsboro;
width: 30%;
height: 30%;
display: flex;
justify-content: space-around;
align-items: baseline;
flex-direction: column;
}
 


#game{

}

#gamefield {

}

#controls{

}
#canvas{
    border: 2px solid black;

}